/*GENERAL INFORMATION*/
/*
COLOR PALETTE:
background:#1a1a1d;
gray-color:#4e4e50;
brown-wine:#6f2232;
wine:#950740;
strong-pink:#c3073f;

*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
  box-sizing: border-box;
}
body{
  font-family: 'Lato', 'sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #1a1a1d;
}
h1{
  display: flex;
  color:#950740 ;
  text-shadow: 0 0 0.2em #c3073f;
  font-size:4em;
}
h1#clock{
 color:#4e4e50 ;
 font-size: 60px;
}
